
@{
    ViewBag.Title = "CustServiceHistory";
    Layout = "~/Views/Shared/_customer.cshtml";
}

<h1 class="text-white bg-dark text-center">
    All released Products
</h1>
<br>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">

            <select class="form-control" name="accountType" id="searchBy">
                <option value="" disabled selected>Search By</option>
                <option value="ReceiverName">Name</option>
                <option value="ReceiverContact">Contact</option>
                <option value="ReceiverAddress">Address</option>
            </select>
        </div>
    </div>
    <div class="col-md-8 donor">
        <input type="text" name="" id="search_text" placeholder="Search Customers " onkeyup="search()">
    </div>
</div>
<br>

<div class="row ">

    <table class="table" id="myTable">
        <thead>
            <tr>
                <td>Sending Branch</td>
                <td>Receiving Branch</td>
                <td>Sending Date</td>
                <td>Reciever Name</td>
                <td>Address</td>
                <td>Released Date</td>
            </tr>
        </thead>
        <tbody id="suggestion">
            <div class="col-md-8">
                <tr>
                    <td>Pen</td>
                    <td>Pen</td>
                    <td>18/65/2200</td>
                    <td>Pen</td>
                    <td>Motijheel</td>
                    <td>18/65/2200</td>
                </tr>
            </div>
        </tbody>
    </table>
</div>


<script>
	function get(id){
		return document.getElementById(id);
	}
	function search(){
		var text = get("search_text").value;
        var text2 = get("searchBy").value;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange=function(){
			if(this.readyState == 4 && this.status == 200 ){
				document.getElementById("suggestion").innerHTML = this.responseText;
			}
		};
		if(text){
			xhttp.open("GET","searchChistory.php?key="+text+"&key2="+text2,true);
            xhttp.send();
		}
		else{
			document.getElementById("suggestion").innerHTML="";
		}
	}
</script>

