
@{
    ViewBag.Title = "CustTermCondition";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<center>
    <div class="col-md-8 box">
        <h1 class="text-white bg-dark text-center">
            Terms And Condition's
        </h1>
        <table class="table">

            <tbody>
                <tr>
                    <td class="tdattribute">1.You Can Cancel any delivery Before it got shipped.</td>
                </tr>

                <tr>
                    <td class="tdattribute">
                        2. If We ship any product than you will no longer able to cancel the service freely.
                    </td>

                </tr>

                <tr>
                    <td class="tdattribute">
                        3. You will get notified about when your product is released. And after release we do not have any longer access.
                    </td>
                </tr>

                <tr>

                    <td class="tdattribute">4. You might get blocked for suspiciuos uses.</td>

                </tr>

            </tbody>
        </table>
    </div>
</center>



