
@{
    ViewBag.Title = "TrackProduct";
    Layout = "~/Views/Shared/_customer.cshtml";
}

<div class="donorlist">

    <h1 class="text-white bg-dark text-center">
        Pending Products
    </h1><br>

    <div class="row ">
        <table class="table">
            <thead>
                <tr>
                    <td>Sending Branch</td>
                    <td>Receiving Branch</td>
                    <td>Sending Date</td>
                    <td>Reciever Name</td>
                    <td>Address</td>
                    <td>Product State</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <div class="col-md-8">
                    <tr>
                        <td>Pen</td>
                        <td>Pen</td>
                        <td>18/9/20</td>
                        <td>Pen</td>
                        <td>Motijheel</td>
                        <td>Not Yet Received at the Branch</td>
                        <td>Ready for Shipping</td>
                        <td><a href="" class="btn btn-danger">Cancel</a></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>

<br>
<br>
<h1 class="text-white bg-dark text-center">
    Shipped Products
</h1>
<br>

<div class="row ">

    <table class="table" id="myTable">
        <thead>
            <tr>
                <td>Sending Branch</td>
                <td>Receiving Branch</td>
                <td>Sending Date</td>
                <td>Reciever Name</td>
                <td>Address</td>
                <td>Product State</td>
            </tr>
        </thead>
        <tbody>
            <div class="col-md-8">
                <tr>
                    <td>Pen</td>
                    <td>Pen</td>
                    <td>18/9/20</td>
                    <td>Pen</td>
                    <td>Motijheel</td>
                    <td>Product is on the way now</td>
                    <td>Product is ready to recived</td>
                </tr>
            </div>
        </tbody>
    </table>
</div>

