*.vs
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
CourierManagementSystem/CourierManagementSystem/bin/CourierManagementSystem.dll
*.pdb
*.edmx
CourierManagementSystem/CourierManagementSystem/obj/Debug/CourierManagementSystem.csprojAssemblyReference.cache
CourierManagementSystem/CourierManagementSystem/obj/Debug/CourierManagementSystem.dll
CourierManagementSystem/CourierManagementSystem/obj/Debug/CourierManagementSystem.pdb
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
CourierManagementSystem/.vs/CourierManagementSystem/v16/.suo
