
@{
    ViewBag.Title = "WorkerList";
    Layout = "~/Views/Shared/_admin.cshtml";
}

    <div class="donorlist">

        <h1 class="text-white bg-dark text-center">
            All Worker
        </h1><br>
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">

                    <select class="form-control" name="accountType" id="type">
                        <option value="" disabled selected>Show</option>
                        <option value="*">All</option>
                        <option value="0">Manager</option>
                        <option value="1">Driver</option>
                        <option value="2">Delivery boy</option>
                        <option value="3">Worker</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <select class="form-control" name="accountType" id="searchBy">
                        <option value="" disabled selected>Search By</option>
                        <option value="Name">Name</option>
                        <option value="ContactNo">Contact</option>
                        <option value="Address">Address</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8 donor">
                <input type="text" name="" id="search_text" placeholder="Search Customers " onkeyup="search()">
            </div>
        </div><br>

        <div class="row ">


            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email Address</td>
                        <td>Contact No</td>
                        <td>Address</td>
                        <td>Designation</td>
                        <td>Qualification</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="suggestion">
                    <div class="col-md-8">
                       
                </tbody>
            </table>
        </div>
    </div>

