
@{
    ViewBag.Title = "terms";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<center>
    <div class="col-md-8 box">
        <h1 class="text-white bg-dark text-center">
            Terms And Condition's
        </h1>
        <table class="table">

            <tbody>
                <tr>

                    <td class="tdattribute">Name</td>
                    <td>:</td>
                    <td>Md.Nur Islam</td>

                </tr>
                <tr>

                    <td class="tdattribute">Email</td>
                    <td>:</td>
                    <td>nursm86@gmail.com</td>

                </tr>

                <tr>
                    <td class="tdattribute">Date of Birth</td>
                    <td>:</td>
                    <td>12/04/1998</td>

                </tr>

                <tr>

                    <td class="tdattribute">Address</td>
                    <td>:</td>
                    <td>Dhalpur Jatrabari</td>

                </tr>

                <tr>

                    <td class="tdattribute">Phone Number</td>
                    <td>:</td>
                    <td>01622114901</td>

                </tr>
                <tr>

                    <td class="tdattribute">Joining Date</td>
                    <td>:</td>
                    <td>01/03/2013</td>

                </tr>

                <tr>
                    <td class="tdattribute">Designation</td>
                    <td>:</td>
                    <td>Manager</td>

                </tr>

                <tr>

                    <td class="tdattribute">Qualification</td>
                    <td>:</td>
                    <td>BSC.CSE</td>

                </tr>

            </tbody>
        </table>
    </div>
</center>

