@model CourierManagementSystem.Models.Product
@{
    var hide = "hidden";
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center container ">
    <div class="col-md-8 box">
        <h1 class="text-white bg-dark text-center">
            product's Information

        </h1>
        <table class="table">

            <tbody>
                <tr>

                    <td class="tdattribute">Sent to</td>
                    <td>:</td>
                    <td>@Model.RecieverName</td>

                </tr>

                <tr>

                    <td class="tdattribute">Reciever Name</td>
                    <td>:</td>
                    <td>@Model.RecieverName</td>

                </tr>

                <tr>

                    <td class="tdattribute">Receiver Address</td>
                    <td>:</td>
                    <td>@Model.RecieverAddress</td>

                </tr>
                <tr>
                    <td class="tdattribute">Recieved Date</td>
                    <td>:</td>
                    <td>@Model.UpdatedDate</td>

                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <a href="/employee/receivedProduct" class="btn btn-warning">Cancel</a>
            @if (Model.Product_State == 0)
            {
                <a href="/employee/receiveProductfromCustomer/@Model.Id" class="btn btn-success">Receive Product</a>
            }
            else if (Model.Product_State == 1)
            {
                <a href="/employee/shippedProduct/@Model.Id" class="btn btn-success">Ship Product</a>
            }
            else if (Model.Product_State == 2)
            {
                <a href="/employee/receiveProductfromBranch/@Model.Id" class="btn btn-success">Receive Product</a>
            }
            else if (Model.Product_State == 3)
            {
                <a href="/employee/releasedProduct/@Model.Id" class="btn btn-success">Release Product</a>
            }
        </div>
    </div>
</div>

